# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/
.ENV/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

